<div class="row">
    <div class=" card col p-3 m-3" style="width: 18rem;">
        <div class="card-body">
            <h4 class="card-title"> Confirmed Cases</h4>
            <h5 class="card-text"> {{ totalConfirmedCases | number:'1.0':'en-IN' }} </h5>

        </div>
    </div>


    <div class=" card col p-3 m-3" style="width: 18rem;">
        <div class="card-body">
            <h4 class="card-title"> Active Cases</h4>
            <h5 class="card-text">{{totalActiveCases | number:'1.0':'en-IN'}}</h5>
        </div>
    </div>


    <div class=" card col p-3 m-3" style="width: 18rem;">
        <div class="card-body">
            <h4 class="card-title"> Total Deaths </h4>
            <h5 class="card-text">{{totalDeath | number:'1.0':'en-IN' }}</h5>
        </div>
    </div>


    <div class=" card col p-3 m-3" style="width: 18rem;">
        <div class="card-body">
            <h4 class="card-title"> Recovered Cases</h4>
            <h5 class="card-text">{{totalRecoveredCases | number:'1.0':'en-IN'}}</h5>
        </div>
    </div>


</div>